<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <title> {% block title %} {% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Make sure to include the jquery language 
	 Highcharts cannot run without it
      -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>          
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <!-- 2. You can add print and export feature by adding this line -->
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    {% endblock %}

    <style>
    #header {
    background:#ddd;
    width: 100%;
    }
    
    #nav {
    background:#c99;
    }
    
    #main {
    float:left;
    width: 75%;
    }
    
    #sidebar {
    float:right;
    width: 25%;
    }
    
    #wrap {
    width: 100%;
    margin:0 auto;
    }

    section {
    width: 100%;
    margin: auto;
    padding: 10px;
    }

    div#one {
    width: 50%;
    float: left;
    }

    div#two {
    width:50%;
    margin-left: 50%;
    height: 200px;
    }

    </style>

  </head>
  <body>
    <div id="wrap">
      <div id="header">
      {% block header %}
      {% endblock %}
      </div>

      <div id="main">
      {% block main %}
      {% endblock %}
      </div>

      <div id="sidebar">
	{% block sidebar %}
	{% endblock %}
      </div>
    </div>
  </body>
</html>
