<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_1-background.png">
    <img src="{{ phot_outdir }}/{{ starname }}_1-background.png" width="50%">
  </a>
  <div class="caption">
    <p>
      Background flux per pixel
    </p> 
   </div>
</div>

<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_2-noise_vs_aperture_size.png">
    <img src="{{ phot_outdir }}/{{ starname }}_2-noise_vs_aperture_size.png" width="50%">
  </a>
  <div class="caption">
     <p> 
      Noise as a function of aperture size
     </p>
   </div>
</div>
