<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_3-fdt_t_roll_2D.png">
  <img src="{{ phot_outdir }}/{{ starname }}_3-fdt_t_roll_2D.png" width="100%">
  </a>
  <div class="caption">
     <p> 
       Top: raw aperture photometry and GP model. Masked points are
       indicated by the ticks at the top of the plot. Bottom
       residuals. 
     </p>
   </div>
</div>


<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_4-fdt_t_roll_2D_zoom.png">
  <img src="{{ phot_outdir }}/{{ starname }}_4-fdt_t_roll_2D_zoom.png" width="100%">
  </a>
  <div class="caption">
     <p> 
       Same as above. Zoomed in on residuals 
     </p>
   </div>
</div>
