{% extends "base.html" %}
{% from 'macros.html' import plot_list %}
{% from 'macros.html' import table_list %}
{% from 'macros.html' import scatter_coords %}

{% block title %} K2 Vetting {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block sidebar %}
<font=-6>
{{table_list(cattable)}}
{{table_list(table)}}

<div class="container">
  <h3>Helpful Links </h3>
  <h5>(open new tab)</h5>
  <div class="list-group">
    <a href="https://cfop.ipac.caltech.edu/k2/edit_target.php?id={{ starname }}" target="_blank"> 
      K2-FOP
    </a>

  </div>
</div>

</font>

<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_0-median-frame.png">
  <img src="{{ phot_outdir }}/{{ starname }}_0-median-frame.png" width="100%">
  </a>
  <div class="caption">
     <p> Median image frame </p>
   </div>
</div>

{% endblock %}
{% block main %}
{% block buttons %}
<div class="container">
  <h1>Vetting {{ starname }}</h1>
  <form method="post" >
    <p>
    <input type="submit" name="is_eKOI" value="eKOI">
    <input type="submit" name="not_eKOI" value="Not eKOI">
    {{ is_eKOI_string }} 
    </p>

    <p>
    </p>
  </form>
</div>
{% endblock %}


{% block content %}

<div id="image">
  <a href="{{ tps_outdir }}/{{ starname }}.grid.pk.png">
  <img src="{{ tps_outdir }}/{{ starname }}.grid.pk.png" width="100%">
  </a>
  <div class="caption">
     <p> DV summary plots. </p> 

Top row: SNR “periodogram” of box-car photometric search for
transiting planets. The red dot shows the P and SNR of the most
significant peak in the periodogram. The autocorrelation function,
“ACF”, plot at upper right shows the circular auto-correlation
function from the phase folded photometry, used to identify secondary
eclipses and correlated noise in the photometry. Second row: at left
“Phase” shows the phase–folded photometry, where black points
represent detrended photometry near the time of transit, green symbols
show median flux over 30 min bins, and the dashed line shows the
best-fitting Mandel-Agol transit model (7). “Phased Zoom” shows a
zoomed y-axis to highlight the transit itself. “Phased 180” shows
phase folded photometry 180 deg in orbital phase from transit center. At
fourth from left, “Secondary eclipse” shows how TERRA notches out the
putative transit and searches for secondary eclipses. Transit SES — transit
single event statistic as a function of transit number. Bottom row: At left, “SES stack” shows SES for the entire
light curve, split on the best-fitting transit period and stacked so
that transit number increases downward. Compelling transits appear as
a sequence of SES peaks at phase = 0. 
   </div>
</div>

<div id="image">
  <a href="{{ tps_outdir }}/{{ starname }}_dv.png">
  <img src="{{ tps_outdir }}/{{ starname }}_dv.png" width="100%">
  </a>
  <div class="caption">
     <p> Light curve diagnostics </p>
   </div>
</div>


<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_2-noise_vs_aperture_size.png">
  <img src="{{ phot_outdir }}/{{ starname }}_2-noise_vs_aperture_size.png" width="50%">
  </a>
  <div class="caption">
     <p> Quick look plot </p>
   </div>
</div>

<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_1-background.png">
  <img src="{{ phot_outdir }}/{{ starname }}_1-background.png" width="50%">
  </a>
  <div class="caption">
     <p> Photometric noise level as a function aperture size </p>
   </div>
</div>


<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_5-fdt_t_rollmed.png">
  <img src="{{ phot_outdir }}/{{ starname }}_5-fdt_t_rollmed.png" width="100%">
  </a>
  <div class="caption">
     <p> Detrended photometry, with the slowly varying, time-dependent
     component added back in. </p>
   </div>
</div>


<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_3-fdt_t_roll_2D.png">
  <img src="{{ phot_outdir }}/{{ starname }}_3-fdt_t_roll_2D.png" width="100%">
  </a>
  <div class="caption">
     <p> Top: raw aperture photometry and GP model. Masked points are
     indicated by the ticks at the top of the plot. Bottom
     residuals. </p>
   </div>
</div>

<div id="image">
  <a href="{{ phot_outdir }}/{{ starname }}_4-fdt_t_roll_2D_zoom.png">
  <img src="{{ phot_outdir }}/{{ starname }}_4-fdt_t_roll_2D_zoom.png" width="100%">
  </a>
  <div class="caption">
     <p> Same as above. Zoomed in on residuals </p>
   </div>
</div>


<div id="image">
  <a href="{{ tps_outdir }}/{{ starname }}.grid.lc.png">
  <img src="{{ tps_outdir }}/{{ starname }}.grid.lc.png" width="100%">
  </a>
  <div class="caption">
     <p> Quick look plot </p>
   </div>
</div>


{% endblock %}

{% endblock %}

<html>
<head>
    <title>Bootstrap CDN Simple Example</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1> Bootstrap CDN Simple Complete HTML Example</h1>    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
